<ion-header>
  <ion-toolbar>
    <!--<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>-->
    <ion-title>
      BlackWood
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-card *ngFor="let category of this.categories" (click)="openCategory(category)">
    <img src="{{category.ImageUrl}}" />
    <div class="card-title">{{category.Name}}</div>
    <div class="card-subtitle">{{category.ProductCount}} Çeşit</div>
  </ion-card>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Onur Gelmez</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>